.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #0071ce;
  color: lightgrey;
}

.unidiv{
  background-color: rgb(51, 189, 253);
  width: 200vh;
  height: 72vh;
  border-radius: 50px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top:30px ;
  display: inline-block;
  
  background-image: linear-gradient(
    #90e0ef,
    #48cae4,
    #00b4d8,
    #0096c7,
    #008bd6
    );
}

.unidescription{
  text-align: left;
  padding-top: 20px;
  font-size: 17px;
}

.uniname{
  padding-top: 70px;
}

.uniimg{
  float: left;
  margin: 50px;
  border-radius: 30px;
  height: 300px;
  min-width: 500px ;
}

.nameofuni{
  font-size: 23px;
}

.login{
  background-color: rgb(51, 189, 253);
  width: 200vh;
  height: 76vh;
  border-radius: 50px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top:30px ;
  display: inline-block;
  
  background-image: linear-gradient(
    #90e0ef,
    #48cae4,
    #00b4d8,
    #0096c7,
    #008bd6
    );

}

.p_info{
  float: right;
  width: 45%;
}

.nameage {
  margin: 53px;
  text-align: justify;
  color: rgb(255, 255, 255);
}


.joinourcommunity{
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.inputsf{

  float: left;
  margin-left: 50px;

}
.submissionformInput{
  font-size: 20px;
  color: red;
  text-align: left;
  margin-top: 20px;

}

.navLinks {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 15px;
  
}

.imghome {
  float: left;
  margin-left: 150px;
  border-radius: 50%;
  
}

.uniarea{
  position: relative;
}

.p-home {
  float: right;
  margin-right: 150px;
}

.homepage {

  height: 60vh;
}

.btnuni{
  margin: 15px;
}

.prop{
  width: 380px;
  height: 390px;
  margin:30px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(88, 88, 243);
  flex-direction: row;
  float: left;
  background-color: rgb(229, 235, 234);
}

.h4h{
  font-size: 50px;
}

.Footer {
  display: flex;
  left: 0;
  width: 100%;
  background-color: rgb(88, 88, 243);
  color: white;
}

.descriptionoffooter{
  text-align: center;
  width: 100%;
}

.button {
  background-color: #0071ce;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  background-color: #0071ce;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 12px;
  position: fixed;
  top: 480px;
  right: 50px;
}


.search{
  display: flex;
  align-self: center;
  height: 25px;
  width: 300px;
}

.uni-search{
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
